In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/t20.csv')

In [ ]:
df.head()

,s_no,Match ID,Date,Venue,bat_team,bowl_team,Innings,overs,Ball,batsman,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1339605,26-03-23,SuperSport Park,West Indies,South Africa,1,1,1,BA King,...,South Africa,1,1,0,1,0,NaN,NaN,1,1
1,1,1339605,26-03-23,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,...,South Africa,1,1,1,1,1,NaN,NaN,1,1
2,2,1339605,26-03-23,SuperSport Park,West Indies,South Africa,1,1,3,BA King,...,South Africa,1,0,1,0,1,1.0,2.0,0,1
3,3,1339605,26-03-23,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,...,South Africa,1,0,1,1,1,NaN,NaN,0,1
4,4,1339605,26-03-23,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,...,South Africa,1,4,1,2,1,NaN,NaN,4,1

# EDA â€“ Exploratory Data Analysis

In [ ]:
df.shape

(287363, 35)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287363 entries, 0 to 287362
Data columns (total 35 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   s_no                     287363 non-null  int64
 1   Match ID                 287363 non-null  int64
 2   Date                     287363 non-null  object
 3   Venue                    287363 non-null  object
 4   bat_team                 287363 non-null  object
 5   bowl_team                287363 non-null  object
 6   Innings                  287363 non-null  int64
 7   overs                    287363 non-null  int64
 8   Ball                     287363 non-null  int64
 9   batsman                  287363 non-null  object
 10  Non Striker              287363 non-null  object
 11  bowler                   287363 non-null  object
 12  Batter Runs              287363 non-null  int64
 13  Extra Runs               287363 non-null  int64
 14  Runs From Ball           287363 non-null  int64
 15  Ball Rebowled            287363 non-null  int64
 16  Extra Type               287363 non-null  object
 17  Wicket                   287363 non-null  int64
 18  Method                   15701 non-null   object
 19  Player Out               15701 non-null   object
 20  runs                     287363 non-null  int64
 21  wickets                  287363 non-null  int64
 22  Target Score             287363 non-null  int64
 23  Runs to Get              136564 non-null  float64
 24  Balls Remaining          287363 non-null  int64
 25  Winner                   287363 non-null  object
 26  Chased Successfully      287363 non-null  int64
 27  Total Batter Runs        287363 non-null  int64
 28  Total Non Striker Runs   287363 non-null  int64
 29  Batter Balls Faced       287363 non-null  int64
 30  Non Striker Balls Faced  287363 non-null  int64
 31  Player Out Runs          15701 non-null   float64
 32  Player Out Balls Faced   15701 non-null   float64
 33  Bowler Runs Conceded     287363 non-null  int64
 34  Valid Ball               287363 non-null  int64
dtypes: float64(3), int64(21), object(11)
memory usage: 76.7+ MB

In [ ]:
df.isnull().sum()

s_no                            0
Match ID                        0
Date                            0
Venue                           0
bat_team                        0
bowl_team                       0
Innings                         0
overs                           0
Ball                            0
batsman                         0
Non Striker                     0
bowler                          0
Batter Runs                     0
Extra Runs                      0
Runs From Ball                  0
Ball Rebowled                   0
Extra Type                      0
Wicket                          0
Method                     271662
Player Out                 271662
runs                            0
wickets                         0
Target Score                    0
Runs to Get                150799
Balls Remaining                 0
Winner                          0
Chased Successfully             0
Total Batter Runs               0
Total Non Striker Runs          0
Batter Balls Faced              0
Non Striker Balls Faced         0
Player Out Runs            271662
Player Out Balls Faced     271662
Bowler Runs Conceded            0
Valid Ball                      0
dtype: int64

In [ ]:
df.describe()

,s_no,Match ID,Innings,overs,Ball,Batter Runs,Extra Runs,Runs From Ball,Ball Rebowled,Wicket,...,Balls Remaining,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
count,287363.000000,2.873630e+05,287363.000000,287363.000000,287363.000000,287363.000000,287363.000000,287363.000000,287363.000000,287363.000000,...,287363.000000,287363.000000,287363.000000,287363.000000,287363.000000,287363.000000,15701.000000,15701.000000,287363.000000,287363.000000
mean,211742.861346,1.011221e+06,1.475232,10.026969,3.487864,1.176550,0.072563,1.249113,0.038150,0.054638,...,62.388470,0.478144,15.365969,14.607082,12.657983,12.324885,16.204573,14.109292,1.222266,0.961850
std,122939.391170,3.496445e+05,0.499387,5.641968,1.708401,1.568652,0.354971,1.557802,0.191559,0.227273,...,33.885567,0.499523,17.102373,16.490763,11.583905,11.468139,17.988094,12.118987,1.561715,0.191559
min,0.000000,2.110280e+05,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,105831.500000,6.829190e+05,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,34.000000,0.000000,2.000000,2.000000,4.000000,3.000000,3.000000,5.000000,0.000000,1.000000
50%,211175.000000,1.185314e+06,1.000000,10.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,63.000000,0.000000,10.000000,9.000000,9.000000,9.000000,10.000000,10.000000,1.000000,1.000000
75%,318085.500000,1.283044e+06,2.000000,15.000000,5.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,92.000000,1.000000,22.000000,22.000000,18.000000,18.000000,23.000000,20.000000,1.000000,1.000000
max,425118.000000,1.393328e+06,2.000000,20.000000,7.000000,7.000000,6.000000,8.000000,1.000000,1.000000,...,120.000000,1.000000,172.000000,168.000000,76.000000,74.000000,172.000000,76.000000,8.000000,1.000000

In [ ]:
df.corr()['runs']

ValueError: could not convert string to float: '26-03-23'

# Data Cleaning and Pre-Processing

In [ ]:
# Removing unwanted cols - reduce memory size
cols_to_remove = ['Non Striker','Batter Runs','Extra Runs','Ball Rebowled','Extra Type','Method','Target Score',]
df.drop(labels=cols_to_remove , axis=1 , inplace = True)

In [ ]:
cols_to_remove = ['s_no','Player Out','Runs to Get','Winner','Chased Successfully','Total Batter Runs','Total Non Striker Runs',]
df.drop(labels=cols_to_remove , axis=1 , inplace = True)

In [ ]:
cols_to_remove = ['Batter Balls Faced','Player Out Runs','Bowler Runs Conceded','Player Out Balls Faced','Non Striker Balls Faced','Valid Ball',]
df.drop(labels=cols_to_remove , axis=1 , inplace = True)

In [ ]:
consistent_team = ['England', 'Pakistan', 'Sri Lanka', 'Australia', 'South Africa',
       'New Zealand', 'Bangladesh', 'West Indies', 'India',
       'Afghanistan','Zimbabwe','Ireland',]

In [ ]:
df = df[df['bat_team'].isin(consistent_team) & df['bowl_team'].isin(consistent_team)]

In [ ]:
df

In [ ]:
df = df[df['Innings'] == 1]

In [ ]:
df['wicket_left'] = 10- df['wickets']
df['bowls_bowled'] = 120 - df['Balls Remaining']

In [ ]:
df['crr'] = (df['runs']*6)/ df['bowls_bowled']

In [ ]:
groups = df.groupby('Match ID')
m_id = df['Match ID'].unique()
runs_last_3ov = []
for id in m_id:
  runs_last_3ov.extend(groups.get_group(id).rolling(window=18).sum()['Runs From Ball'].values.tolist())

In [ ]:
df['runs_last_3ov'] =runs_last_3ov

In [ ]:
groups = df.groupby('Match ID')
m_id = df['Match ID'].unique()
wickets_last_3ov = []
for id in m_id:
  wickets_last_3ov.extend(groups.get_group(id).rolling(window=18).sum()['Wicket'].values.tolist())

In [ ]:
df['wickets_last_3ov'] =wickets_last_3ov

In [ ]:
df = df.groupby('Match ID').sum()['Runs From Ball'].reset_index().merge(df,on='Match ID')

In [ ]:
def bowls_to_overs(bowls):
    overs = bowls // 6
    remaining_bowls = bowls % 6
    total_overs = overs + remaining_bowls / 10

    return round(total_overs, 1)

In [ ]:
df['cur_overs'] = df['bowls_bowled'].apply(bowls_to_overs)

In [ ]:
df.head()

In [ ]:
final_df = df[['Venue','bat_team','bowl_team','wickets','cur_overs','runs','crr','wickets_last_3ov','runs_last_3ov','Runs From Ball_x']]

In [ ]:
final_df.rename(columns={'runs': 'cur_runs'}, inplace=True)
final_df.rename(columns={'wickets': 'cur_wickets'}, inplace=True)
final_df.rename(columns={'Runs From Ball_x': 'total_runs'}, inplace=True)

In [ ]:
final_df.isnull().sum()

In [ ]:
final_df.dropna(inplace=True)

In [ ]:
final_df.isnull().sum()

In [ ]:
data = final_df[["bat_team"]].value_counts()
data

In [ ]:
data2 = final_df[["bowl_team"]].value_counts()
data2

In [ ]:
final_df = final_df[final_df['cur_overs']>=3.0]

In [ ]:
final_df= final_df.sample(final_df.shape[0])

In [ ]:
final_df

In [ ]:
top_venue = df['Venue'].value_counts().head(10)

In [ ]:

plt.figure(figsize=(8, 8))
plt.pie(top_venue, labels=top_venue.index, autopct='%1.1f%%', startangle=90)
plt.title('Top 10 top_venue based on Venue')
plt.show()

In [ ]:
top_teams = df['bat_team'].value_counts().head(10)

In [ ]:
plt.figure(figsize=(8, 8))
plt.pie(top_teams, labels=top_teams.index, autopct='%1.1f%%', startangle=90)
plt.title('Top 10 Teams based on bat_team')
plt.show()

In [ ]:
corr_with_totrun = final_df.corr()['total_runs']
corr_with_totrun

In [ ]:
import seaborn as sb
dataplot = sb.heatmap(final_df.corr(), cmap="YlGnBu", annot=True)

plt.show()

In [ ]:
pd.np.random.seed(42)
final_df = final_df.sample(frac=1).reset_index(drop=True)

In [ ]:
final_df = final_df[["bat_team","bowl_team","Venue","cur_overs","cur_runs","cur_wickets","crr","wickets_last_3ov","runs_last_3ov","total_runs"]]
final_df

# One Hot Encoding

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['bat_team','bowl_team','Venue'])
],remainder='passthrough')

# Train_Test_Split

In [ ]:
x1= final_df.drop('total_runs',axis =1)
y1 = final_df.total_runs

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x1,y1, test_size = 0.3, random_state=100)

In [ ]:
x_train

# Model Training

## 1.Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

reg = LinearRegression()

pipe_reg = Pipeline(steps=[
    ('step1',trf),
    ('step2', StandardScaler()),
    ('step3',reg)
])

pipe_reg.fit(x_train , y_train)

y_train_pred1 = pipe_reg.predict(x_train)

mae_train = metrics.mean_absolute_error(y_train, y_train_pred1)
mse_train = metrics.mean_squared_error(y_train, y_train_pred1)
rmse_train = metrics.mean_squared_error(y_train, y_train_pred1, squared=False)
r2_train_lin = metrics.r2_score(y_train, y_train_pred1)

y_test_pred1 = pipe_reg.predict(x_test)

mae_test = metrics.mean_absolute_error(y_test, y_test_pred1)
mse_test = metrics.mean_squared_error(y_test, y_test_pred1)
rmse_test = metrics.mean_squared_error(y_test, y_test_pred1, squared=False)
r2_test_lin = metrics.r2_score(y_test, y_test_pred1)

print("Training Metrics:")
print(f"MAE: {mae_train}")
print(f"MSE: {mse_train}")
print(f"RMSE: {rmse_train}")
print(f"R-squared (RÂ²): {r2_train_lin}")
print("\nTesting Metrics:")
print(f"MAE: {mae_test}")
print(f"MSE: {mse_test}")
print(f"RMSE: {rmse_test}")
print(f"R-squared (RÂ²): {r2_test_lin}")

In [ ]:
r_sq_lin = r2_test_lin
r_sq_lin

In [ ]:
train_r2 = r2_train_lin
test_r2 = r2_test_lin

plt.figure(figsize=(6, 4))
plt.bar(['Training', 'Testing'], [train_r2, test_r2], color=['blue', 'green'])
plt.xlabel('Dataset')
plt.ylabel('R-squared (RÂ²)')
plt.title('Training vs. Testing R-squared')
plt.ylim(0, 1)
plt.show()

##2. Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)

pipe_rand = Pipeline(steps=[
    ('step1',trf),
    ('step2', StandardScaler()),
    ('step3',rf_regressor)
])

pipe_rand.fit(x_train , y_train)

y_train_pred3 = pipe_rand.predict(x_train)

mae_train = metrics.mean_absolute_error(y_train, y_train_pred3)
mse_train = metrics.mean_squared_error(y_train, y_train_pred3)
rmse_train = metrics.mean_squared_error(y_train, y_train_pred3, squared=False)
r2_train_ran = metrics.r2_score(y_train, y_train_pred3)

y_test_pred3 = pipe_rand.predict(x_test)

mae_test = metrics.mean_absolute_error(y_test, y_test_pred3)
mse_test = metrics.mean_squared_error(y_test, y_test_pred3)
rmse_test = metrics.mean_squared_error(y_test, y_test_pred3, squared=False)
r2_test_ran = metrics.r2_score(y_test, y_test_pred3)

print("Training Metrics:")
print(f"MAE: {mae_train}")
print(f"MSE: {mse_train}")
print(f"RMSE: {rmse_train}")
print(f"R-squared (RÂ²): {r2_train_ran}")
print("\nTesting Metrics:")
print(f"MAE: {mae_test}")
print(f"MSE: {mse_test}")
print(f"RMSE: {rmse_test}")
print(f"R-squared (RÂ²): {r2_test_ran}")

In [ ]:
r_sq_ran = r2_test_ran
r_sq_ran

In [ ]:
train_r2 = r2_train_ran
test_r2 = r2_test_ran

plt.figure(figsize=(6, 4))
plt.bar(['Training', 'Testing'], [train_r2, test_r2], color=['blue', 'green'])
plt.xlabel('Dataset')
plt.ylabel('R-squared (RÂ²)')
plt.title('Training vs. Testing R-squared')
plt.ylim(0, 1)
plt.show()

In [ ]:
import pickle
pickle.dump(pipe_rand,open('pipe_rand.pkl','wb'))

## 3.XGBoost Regressor

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score

pipe_xgb = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    # ('step3',XGBRegressor(n_estimators=200, objective= "reg:squarederror", learning_rate=0.05,max_depth=10, alpha=1, colsample_bytree=0.5, subsample=0.5))-> 88 percent
    # ('step3',XGBRegressor(n_estimators=200, objective= "reg:squarederror", learning_rate=0.1,max_depth=10, alpha=0.1, colsample_bytree=0.5, subsample=0.5)) -> 93 percent
    # ('step3',XGBRegressor(n_estimators=500, objective= "reg:squarederror", learning_rate=0.1,max_depth=9, alpha=2, colsample_bytree=0.3, subsample=0.8)) -> 94 percent
    # ('step3',XGBRegressor(n_estimators=700, objective= "reg:squarederror", learning_rate=0.1,max_depth=10, alpha=2, colsample_bytree=0.3, subsample=0.5)) -> mse diff:50>
    ('step3',XGBRegressor(n_estimators=700, objective= "reg:squarederror", learning_rate=0.1,max_depth=10, alpha=2, colsample_bytree=0.5, subsample=0.8))
])

pipe_xgb.fit(x_train,y_train)

y_train_pred = pipe_xgb.predict(x_train)
mae_train = metrics.mean_absolute_error(y_train, y_train_pred)
mse_train = metrics.mean_squared_error(y_train, y_train_pred)
rmse_train = metrics.mean_squared_error(y_train, y_train_pred, squared=False)
r2_train = metrics.r2_score(y_train, y_train_pred)

y_test_pred = pipe_xgb.predict(x_test)

mae_test = metrics.mean_absolute_error(y_test, y_test_pred)
mse_test = metrics.mean_squared_error(y_test, y_test_pred)
rmse_test = metrics.mean_squared_error(y_test, y_test_pred, squared=False)
r2_test = metrics.r2_score(y_test, y_test_pred)

print("Training Metrics:")
print(f"MAE: {mae_train}")
print(f"MSE: {mse_train}")
print(f"RMSE: {rmse_train}")
print(f"R-squared (RÂ²): {r2_train}")

print("\nTesting Metrics:")
print(f"MAE: {mae_test}")
print(f"MSE: {mse_test}")
print(f"RMSE: {rmse_test}")
print(f"R-squared (RÂ²): {r2_test}")

In [ ]:
r_sq_xgb = r2_test
r_sq_xgb

In [ ]:

train_r2 = r2_train
test_r2 = r2_test

plt.figure(figsize=(6, 4))
plt.bar(['Training', 'Testing'], [train_r2, test_r2], color=['blue', 'green'])
plt.xlabel('Dataset')
plt.ylabel('R-squared (RÂ²)')
plt.title('Training vs. Testing R-squared for XGBoost Regressor')
plt.ylim(0, 1)
plt.show()

In [ ]:
import pickle
pickle.dump(pipe_xgb,open('pipe_xgb.pkl','wb'))

## 4.MLP Regressor

In [ ]:
from sklearn.neural_network import MLPRegressor

nn_regressor = MLPRegressor(
    hidden_layer_sizes=(100, 50),
    activation='relu',
    solver='adam',
    random_state=42,
    max_iter=1000,
    learning_rate_init=0.001
)
pipeline_nn = Pipeline(steps=[
    ('step1', trf),
    ('step2', StandardScaler()),
    ('step3', nn_regressor)
])

pipeline_nn.fit(x_train, y_train)

y_train_pred_nn = pipeline_nn.predict(x_train)

mae_train_nn = metrics.mean_absolute_error(y_train, y_train_pred_nn)
mse_train_nn = metrics.mean_squared_error(y_train, y_train_pred_nn)
rmse_train_nn = metrics.mean_squared_error(y_train, y_train_pred_nn, squared=False)
r2_train_nn = metrics.r2_score(y_train, y_train_pred_nn)

y_test_pred_nn = pipeline_nn.predict(x_test)

mae_test_nn = metrics.mean_absolute_error(y_test, y_test_pred_nn)
mse_test_nn = metrics.mean_squared_error(y_test, y_test_pred_nn)
rmse_test_nn = metrics.mean_squared_error(y_test, y_test_pred_nn, squared=False)
r2_test_nn = metrics.r2_score(y_test, y_test_pred_nn)


print("Neural Network Training Metrics:")
print(f"MAE: {mae_train_nn}")
print(f"MSE: {mse_train_nn}")
print(f"RMSE: {rmse_train_nn}")
print(f"R-squared (RÂ²): {r2_train_nn}")

print("\nNeural Network Testing Metrics:")
print(f"MAE: {mae_test_nn}")
print(f"MSE: {mse_test_nn}")
print(f"RMSE: {rmse_test_nn}")
print(f"R-squared (RÂ²): {r2_test_nn}")

In [ ]:
r_sq_nn = r2_test_nn
r_sq_nn

In [ ]:
train_r2 = r2_train_nn
test_r2 = r2_test_nn


plt.figure(figsize=(6, 4))
plt.bar(['Training', 'Testing'], [train_r2, test_r2], color=['blue', 'green'])
plt.xlabel('Dataset')
plt.ylabel('R-squared (RÂ²)')
plt.title('Training vs. Testing R-squared for MLPRegressor')
plt.ylim(0, 1)
plt.show()

In [ ]:
import pickle
with open('pipeline_nn.pkl', 'wb') as file:
    pickle.dump(pipeline_nn, file)

# Model Comparison

In [ ]:

algorithms = ['Linear', 'RandomForest', 'XGBoost','MLP']
r2_values = [r_sq_lin, r_sq_ran, r_sq_xgb,r_sq_nn]

plt.bar(algorithms, r2_values, color=['blue', 'green', 'orange','red'])

plt.xlabel('Algorithms')
plt.ylabel('R-squared Value')
plt.title('Model Comparison - R-squared Values')


for i, value in enumerate(r2_values):
    plt.text(i, value + 0.01, f'{value:.3f}', ha='center', va='bottom')

plt.show()